.button
{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.box
{
 border: 1px solid skyblue;
 margin: 10px;
 padding: 60px;
 width: 600;
 height: 300px;
 float: left;
 text-align: center;
}
.image
{
    height: 300px;
    width: 300px;
}
.listall
{
    padding-top: 70px;
    padding-left: 20px;
    text-align: center;
    padding-bottom: 70px;
}
h1
{
    color : #3F51B5;
    text-align: center;
}
h2
{
    color : #3F51B5;
}
h4
{
 color: #3F51B5 ;
}