<div class="all">
<h1> Your Form is Successfully Submitted </h1>

<div style="padding-left: 250px;">
    <div class="box">
        <h2>Your Appoinment Details</h2>
        <h3> Name :  {{yourproduct.fname}} {{yourproduct.lname}} </h3>
        <p>  Email : {{yourproduct.email}}</p>
        <p>  Phone : {{yourproduct.phone}}</p>
        <p>  Address : {{yourproduct.address}}</p>
        <p>  Age : {{yourproduct.age}}</p>
        <p>  Date : {{yourproduct.date}}</p>
        <p>  Time : {{yourproduct.time}}</p>
    </div>
</div>

</div>